/** HTML **/

body {
    background-color: #1A3F58;
    color: #C2D1CA;
    font-family: "Space Mono", monospace;
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto 5%;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;   
    margin: 0 auto 5%;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #F86F87;
    border-width: 10px;
    width: 5%;
    margin: 3% auto;
}

ul,li { list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
}

p {
    font-size: 1rem;
    line-height: 2;
}

a:link {
    color: #F86F87; 
    text-decoration: none; 
    font-weight: bold;
    margin: auto 15px;
}

a:visited {
    color: #F86F87;  
}

a:active {
    color: #F86F87;  
}

a:hover {
    color: #1A3F58; 
}

/** SECTIONS **/

#nav {
    background-color: #f7f4e1;
}

#intro, #tools, #pricing {
    background-color: #1A3F58;
}

#top, #skills, #footer, #testimonials{
    background-color: #019F90;
}

#pink {
    background-color: #F86F87; 
}

/** CONTAINERS **/

.margin-auto {
    margin: auto;
}

.margin-a20pc {
    margin: auto 20% auto 20%;
    width: 60%
}

.margin-20pxa {
    margin: 20px auto;
}

.margin-a10pc {
    margin: auto 10% auto 10%;
    width: 80%
}

.top-container {
    position: relative;
    padding-top: 10%;
}

.middle-container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.bottom-container {
    position: relative;
    padding: 1rem 0 0.6rem;
}

/** TEXT & COLOR **/

.und {
    text-decoration:underline;
}

.copyright {
    font-size: 0.8rem;
    margin-top: 20px;
}

.skill-row {
    text-align: left;
}

.tool-icon {
    color: #D6CC84;
}

.tool-icon:hover {
    color: #019F90;
}

.tool-header{
    padding: 10px;
}

.td-blue {
    color: #1A3F58;
}

.td-mali-white-s {
    font-family: "Mali", serif;
    font-size: 1.5rem;
    color: #f7f4e1;
}

.td-mali-white-m {
    font-family: "Mali", serif;
    font-size: 2.2rem;
    color: #f7f4e1;
}

.td-space-green-m {
    font-weight: 700;
    color: #019F90;
}

.td-space-pink-m {
    font-weight: 700;
    color: #F86F87;
}

.td-space-white-s {
    font-weight: normal;
    color: #f7f4e1;
}

.td-space-blue-m {
    font-weight: 700;
    color: #1A3F58;
}

.td-lily-yellow {
    font-family: 'Lily Script One','Courier New', Courier, monospace;
    font-size: 4rem;
    color: #D6CC84;
}

.td-lily-pink {
    font-family: 'Lily Script One','Courier New', Courier, monospace;
    font-size: 3.5rem;
    color: #F86F87;
}



/** ADDITIONAL **/

.test {
    font-size: 2rem;
}

.cat-name {
    font-size: 1.5rem;
}

.carousel-card {
    border-style: solid;
    border-color: #f7f4e1;
    border-radius: 3rem;
    background-color: #F86F87; 
    padding: 8%; 
    height: 30rem;
    overflow: scroll;
    scrollbar-width: none;
}

.carousel-item {
    padding: 7% 20%;
    height: 600px;
}

.carousel-hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #f7f4e1;
    border-width: 10px;
    width: 5%;
    margin: 3% auto 0;
}

.pricing-column {
    padding: 3%;
}

.card-body {
    line-height: normal;
}

.card {
    background-color: #f7f4e1;
    color: #1A3F58;
    height: 25rem;
}

.card-header {
    color: #f7f4e1;
    background-color: #F86F87;
}


/** LINKS **/

.nav-link:link {
    color: #F86F87;
    text-decoration: none; 
    font-weight: bold;
    margin: auto 15px;
}

.nav-link:visited {
    color: #F86F87;  
}

.nav-link:active {
    color: #F86F87;  
}

.nav-link:hover {
    color: #1A3F58; 
}

.buy-link:link {
    text-decoration: none; 
    font-weight: bold;
    margin: auto 15px;
    color: #f7f4e1;
}

.buy-link:visited {
    color: #f7f4e1;  
}

.buy-link:active {
    color: #f7f4e1;  
}

.buy-link:hover {
    color: #f7f4e1; 
}


.footer-link:link {
    color: #f7f4e1;
}

.footer-link:visited {
    color: #f7f4e1;  
}

.footer-link:active {
    color: #F86F87;  
}

.footer-link:hover {
    color: #1A3F58; 
}

/** IMAGES **/

.bottom-cloud {
    position: absolute;
    left: 10%;
    bottom: 100px;
}

.top-cloud {
    position: absolute;
    right: 10%;
    top: 40px;
}

.cat-img {
    width: 8.125rem;
    margin-right: 30px;
    float: left;
}

.cat-pfp {
    height: 8.125rem;
    margin: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: #f7f4e1;
}

.pfp-img {
    width: 12.5rem;
    padding-top: 5px;
}

/** BUTTON **/

.btn-def {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Space Mono", serif;
    color: #f7f4e1;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    background: #F86F87;
    padding: 5px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
}
  
.btn-def:hover {
    background: #019F90;
    color: #D6CC84;
    text-decoration: none;
}

.btn-buy {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    border-color: #f7f4e1;
    border-style: solid;
    font-family: "Space Mono", serif;
    color: #f7f4e1;
    font-size: 1.3rem;
    font-style: normal;
    background: #1A3F58;
    text-decoration: none;
    display: inline-block;
}
  
.btn-buy:hover {
    background: #019F90;
    color: #f7f4e1;
    text-decoration: none;
}

/** SCROLL **/

@keyframes slide-in-y {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateY(0%);
    }
}

.scroll-text {
    animation: slide-in-y 1000ms;
    animation-timing-function: linear;
}
